<footer class="bg-light pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">QLDOAN</h5>
                <p>We provide the best room rental service for your needs. Our rooms are clean, affordable, and fully furnished.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Links</h5>
                <p><a href="/" class="text-dark" style="text-decoration: none;">Home</a></p>
                <p><a href="/renting" class="text-dark" style="text-decoration: none;">Store</a></p>
                <p><a href="/profile" class="text-dark" style="text-decoration: none;">Profile</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary" >Contact</h5>
                <p><i class="fas fa-home mr-3"></i> 123 Nguyen Van Cu, District 5, HCMC</p>
                <p><i class="fas fa-envelope mr-3"></i> qldoan@example.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p> Copyright ©2025 All rights reserved by:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-primary">QLDOAN</strong>
                    </a>
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>