<section id="Slider"></section>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <!-- link swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body>
    <%- include('../views/shared/header.ejs') %>
 
 

    <div class="container-news">
        <h1>Tin tức</h1>
        <div class="main-content-news">
            <div class="news-section">
                <div class="news-item">
                    <img src="/images/thpt.jpg" alt="News Image 1">
                    <div class="news-content">
                        <div class="news-title">
                            <a href="#">Ngày thi THPT quốc gia</a>
                        </div>
                        <div class="news-description">
                            Với Việt Nam, kỳ thi THPT quốc gia là một trong những kỳ thi quan trọng nhất trong năm học.
                            Kỳ thi này không chỉ đánh giá kiến thức của học sinh mà còn quyết định tương lai của họ.
                        </div>
                    </div>
                </div>

                <div class="news-item">
                    <img src="/images/thi toán.png" alt="News Image 2">
                    <div class="news-content">
                        <div class="news-title">
                            <a href="#">Nhận định đề thi THPT quốc gia môn toán</a>
                        </div>
                        <div class="news-description">
                            Toán là môn học quan trọng trong kỳ thi THPT quốc gia. Đề thi thường bao gồm các phần lý
                            thuyết và bài tập thực hành, giúp đánh giá khả năng tư duy và giải quyết vấn đề của học
                            sinh.
                        </div>
                    </div>
                </div>

                <div class="news-item">
                    <img src="/images/anh.jpg" alt="News Image 3">
                    <div class="news-content">
                        <div class="news-title">
                            <a href="#">Cuộc thi tiếng anh trực tuyến</a>
                        </div>
                        <div class="news-description">
                            Cuộc thi tiếng anh trực tuyến là một trong những hoạt động thú vị và bổ ích cho học sinh. Nó
                            không chỉ giúp học sinh nâng cao kỹ năng ngôn ngữ mà còn tạo cơ hội giao lưu và học hỏi.
                        </div>
                    </div>
                </div>

                <div class="news-item">
                    <img src="/images/văn.jpg" alt="News Image 4">
                    <div class="news-content">
                        <div class="news-title">
                            <a href="#">Vẻ đẹp của văn học Việt Nam</a>
                        </div>
                        <div class="news-description">
                            Văn học Việt Nam là một phần quan trọng trong văn hóa dân tộc. Nó không chỉ phản ánh lịch
                            sử, văn hóa mà còn thể hiện tâm tư, tình cảm của người dân Việt Nam qua các thời kỳ.
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <div class="popular-section">
                    <h2>Xem nhiều</h2>
                    <ul>
                        <li><a href="#">Ngày thi THPT quốc gia</a> <span>153</span></li>
                        <li><a href="#">Phân tích đề lý thi thử THPT quốc gia</a> <span>279</span></li>
                        <li><a href="#">Phân tích đề anh thi thử THPT quốc gia</a> <span>15</span></li>
                        <li><a href="#">Phân tích đề toán thi thử THPT quốc gia</a> <span>39</span></li>
                        <li><a href="#">Các cuộc thi tiếng anh trong nước</a></li>
                    </ul>
                </div>

                <div class="photo-section">
                    <h2>Ảnh</h2>
                    <img src="/images/ảnh.jpg" alt="Photo Section">
                    <p><a href="#">Học sinh nỗ lực học tập cho kì thi THPT quốc gia</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="relative bg-blueGray-200 pt-8 pb-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl fonat-semibold text-blueGray-700">Liên hệ với chúng tôi!</h4>
                <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                    Tìm kiếm chúng tôi trên bất kỳ mạng xã hội nào và gửi cho chúng tôi một tin nhắn! Chúng tôi sẽ trả
                    lời bạn ngay khi có thể.
                </h5>
                <div class="mt-6 lg:mb-0 mb-6">
                    <button
                        class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-twitter"></i></button><button
                        class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-facebook-square"></i></button><button
                        class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-dribbble"></i></button><button
                        class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Bạn Đang Tìm
                            Kiếm</span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="">Liên Hệ</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="">Thông Tin Mới</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                                    href="">Tuyển Dụng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-blueGray-500 font-semibold py-1">
                    Copyright © <span id="get-current-year">2025</span><a href="https://www.facebook.com/ttgdvpttnht"
                        class="text-blueGray-500 hover:text-gray-800" target="_blank"> Talent Education</a>. Made by
                    <a href="https://github.com/Rin-0808" class="text-blueGray-500 hover:text-blueGray-800">Rin</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
</body>